{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}


 <table class="table table-hover w-50 mx-auto container">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Metric</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
                {% for item in items %}
                    <tr>
                        <td>{{item}}</td>               <!--'item' is each key in dict-->
                        <td>{{items[item]}}</td>        <!--items[item] returns value for each key 'item'-->
                        
                    </tr>
                {% endfor%}
        </tbody>
    </table>

    
{% endblock %}

